/********************* Страницы (Pages) *********************/

/*** Главная (Home) ***/
#home.jumbotron {
  text-align: center;
}

/*** Регистрация (Singup) ***/
#page-signup {

  .uploader {
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 182px;
    width: 100%;

    .btn {
      height: 50px;
      line-height: 38px;
    }
    .uploader-preview-cnt {
      margin: 8px auto 0;
    }
  }
}

/*** Пользователи (Users) ***/
#page-users {

  .user {
    text-align: center;
  }
  .user-avatar {
    display: block;
    border: 1px solid #ccc;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }
  h3 {
    font-size: 114.3%;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

/*** Блоги (Blogs) ***/

#page-blogs, #page-blog {
  .info {
    background: #f5f5f5;
    padding: 8px 15px;
    color: #999;
    margin-bottom: 1em;
    overflow: hidden;

    li {
      display: inline;
      list-style: none;
      float: left;
      margin-right: 15px;
    }
    .last {
      float: right;
      margin: 0;
    }
  }
}

// Страница всех записей
#page-blogs {

  .page-header {

    .btn {
      margin-top: 20px;
    }
  }
  .blog {
    border-bottom: 1px solid #eee;
    padding-bottom: 2em;
  }
  .image {
    float: left;
    margin: 0 1.5em 0.5em 0;
  }
}

// Страница одной записи
#page-blog {

  .page-header {

    .btn {
      margin-top: 20px;
    }
  }
  .image {
    float: left;
    margin: 0 1.2em 0.5em 0;
  }
}

/*** Комментарии в блогах ***/
@commentLvlStep: 25px;
.lvl(@nr:1) {
  margin-left: (@commentLvlStep * @nr);
}

.lvl-1 {
  .lvl();
}

.lvl-2 {
  .lvl(2);
}

.lvl-3 {
  .lvl(3);
}

.lvl-4 {
  .lvl(4);
}

.lvl-5 {
  .lvl(5);
}

.lvl-6 {
  .lvl(6);
}